body {
  padding: 0px;
  margin: 0px;
  background: linear-gradient(#FFF, #AEDBEC);
  min-height: 100vh;
  /*********Barre de Navigation*********/
  /*********SECTION TITRE ET RECHERCHE*********/
  /*********SECTION FILMS*********/
}
body nav {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #aeb4ce;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  overflow: hidden;
  gap: 3rem;
  position: fixed;
  z-index: 99;
}
@media (max-width: 575px) {
  body nav {
    gap: 2rem;
    flex-direction: column;
  }
}
body nav .info-nav {
  display: flex;
  gap: 3rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
body nav .info-nav i {
  font-size: 4.5rem;
  color: rgba(174, 219, 236, 0.8);
}
body nav .info-nav a {
  font-family: montserrat;
  text-decoration: none;
  color: rgba(62, 83, 195, 0.8);
  font-weight: bold;
  font-size: 1.5rem;
}
@media (max-width: 575px) {
  body nav .info-nav a {
    font-size: 1.2rem;
  }
}
body nav .info-nav span {
  padding: 20px;
  position: relative;
  margin-left: -5.8rem;
  width: 230px;
}
body nav .info-nav span a {
  font-size: 2.5rem;
  color: #3e53c3;
  text-decoration: none;
  font-weight: 800;
  font-family: montserrat;
  text-transform: uppercase;
  paint-order: stroke fill;
  -webkit-text-stroke: 3px #fff;
}
@media (max-width: 575px) {
  body nav .info-nav span a {
    font-size: 2rem;
  }
}
body nav .connect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 0px 15px;
}
body nav .connect a {
  font-family: montserrat;
  text-decoration: none;
  color: rgba(62, 83, 195, 0.8);
  font-weight: bold;
  font-size: 1.5rem;
}
body nav .connect i {
  color: rgba(174, 219, 236, 0.8);
  font-size: 2.5rem;
}
body .movie-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 0px;
  position: relative;
  top: 4rem;
}
@media (max-width: 575px) {
  body .movie-top {
    flex-direction: column;
    justify-content: center;
  }
}
body .movie-top .title {
  font-family: montserrat;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0px 20px;
  font-weight: 500;
}
@media (max-width: 575px) {
  body .movie-top .title {
    font-size: 2.5rem;
  }
}
body .movie-top .title i {
  color: rgba(62, 83, 195, 0.8);
}
body .movie-top .search {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 575px) {
  body .movie-top .search {
    width: 70%;
  }
}
body .movie-top .search i {
  padding: 15px;
  border: 1.5px solid rgba(62, 83, 195, 0.8);
  border-radius: 100%;
  background: #fff;
  position: relative;
  z-index: 2;
  color: rgb(174, 219, 236);
  font-size: 1.5rem;
}
body .movie-top .search input {
  width: 30%;
  border-radius: 20px;
  border: 1.5px solid rgba(62, 83, 195, 0.8);
  padding: 10px 5px 10px 35px;
  position: relative;
  left: -2rem;
  z-index: 1;
}
@media (max-width: 575px) {
  body .movie-top .search input {
    width: 100%;
  }
}
body .movies {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 0px;
  gap: 1.5rem;
}
body .movies .movie-card {
  width: 280px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
}
body .movies .movie-card img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
body .movies .movie-card .date-movie {
  font-family: montserrat;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #fff;
  font-weight: 500;
  background: rgba(174, 219, 236, 0.5);
  padding: 10px;
  border-radius: 15px;
  position: relative;
  top: -0.3rem;
  left: 5.5rem;
  margin-top: -2.5rem;
}
body .movies .movie-card .head-movie {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px;
  justify-content: center;
  padding: 10px;
}
body .movies .movie-card .head-movie .note {
  border-radius: 100%;
  padding: 15px;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
body .movies .movie-card .head-movie .note i {
  color: rgb(174, 219, 236);
  font-size: 4rem;
  position: relative;
  top: 0.5rem;
}
body .movies .movie-card .head-movie .note span {
  font-family: montserrat;
  color: rgba(62, 83, 195, 0.8);
  font-weight: 800;
  font-size: 1.2rem;
  paint-order: stroke fill;
  -webkit-text-stroke: 3px #fff;
  position: relative;
  top: -2rem;
}
body .movies .movie-card .head-movie .title-movie {
  font-family: montserrat;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  padding: 15px 0px;
}/*# sourceMappingURL=style.css.map */